version: '3.8'

services:
  # Spark Master
  spark-master:
    image: thatojoe/spark-master:1.0.0
    container_name: spark-master
    hostname: spark-master
    environment:
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
    ports:
      - "7077:7077"
      - "8080:8080"
    volumes:
      - ./data:/opt/spark/data
      - ./scripts:/opt/scripts
    networks:
      spark-net:
        ipv4_address: 172.25.0.2
    command: ["master"]
    deploy:
      resources:
        limits:
          memory: 2g
  
  # Spark Workers
  spark-worker-1:
    image: thatojoe/spark-worker:1.0.0
    hostname: spark-worker-1
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
    ports:
      - "8081:8081"
    volumes:
      - ./data:/opt/spark/data
      - ./scripts:/opt/scripts
    depends_on:
      - spark-master
    networks:
      spark-net:
        ipv4_address: 172.25.0.3
    command: ["worker"]
    deploy:
      resources:
        limits:
          memory: 2g
  
  spark-worker-2:
    image: thatojoe/spark-worker:1.0.0
    hostname: spark-worker-2
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
    ports:
      - "8082:8081"
    volumes:
      - ./data:/opt/spark/data
      - ./scripts:/opt/scripts
    depends_on:
      - spark-master
    networks:
      spark-net:
        ipv4_address: 172.25.0.4
    command: ["worker"]
    deploy:
      resources:
        limits:
          memory: 2g

  # Livy Server
  livy:
    image: thatojoe/livy:1.0.0
    container_name: livy-server
    hostname: livy-server
    environment:
      - SPARK_HOME=/opt/spark
      - HADOOP_CONF_DIR=/opt/hadoop/conf
      - LIVY_SERVER_PORT=8998
      - LIVY_SERVER_HOST=0.0.0.0
    ports:
      - "8998:8998"
    volumes:
      - ./config/livy.conf:/opt/livy/conf/livy.conf
      - ./data:/opt/data
    depends_on:
      - spark-master
    networks:
      spark-net:
        ipv4_address: 172.25.0.5
    command: /opt/livy/bin/livy-server
  
  # Jupyter Notebook
  jupyter:
    image: thatojoe/jupyter-spark:1.0.0
    container_name: jupyter-spark
    hostname: jupyter-spark
    environment:
      - JUPYTER_PORT=8888
      - JUPYTER_TOKEN=scala-spark-2024
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_HOME=/opt/spark
      - LIVY_URL=http://livy-server:8998
    ports:
      - "8888:8888"
      - "4040:4040"
    volumes:
      - ./notebooks:/home/jovyan/work
      - ./config:/home/jovyan/.sparkmagic
      - ./data:/home/jovyan/data
      - ./scripts:/home/jovyan/scripts
    depends_on:
      - spark-master
      - livy
    networks:
      spark-net:
        ipv4_address: 172.25.0.6
    deploy:
      resources:
        limits:
          memory: 4g

networks:
  spark-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/16
